/*==============================================
					FONTE
==============================================*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: "Hind Siliguri", sans-serif;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/*=========================================
                    TOPO
==========================================*/
header nav{
	display: flex;
	justify-content: space-between;
	padding: 2vw;
}

header nav ul{
	display: flex;
}

header nav ul li a{
	margin: 7px 10px 7px 10px;
	color: #553C16;
	font-weight: bold;
}

/*=======================================
				BANNER
========================================*/
main section.banner{
	display: flex;
	margin: 6vw;
	padding: 0vw 2vw 4vw 2vw;
	border-bottom: 1px solid #9E9B9B;
}
main section div.banner-imagem img{
	padding: 2vw 10vw 2vw 10vw;
}
main section div.banner-texto h1{
	font-size: 4rem;
	padding: 4vw 0 4vw 0;
}
main section div.banner-texto p{
	font-size: 1.5rem;
	color: #404852;
	border-top: 1px solid #DEDEDE;
	padding: 2vw 0 2vw 0;
}
main section div.samantha{
	display: flex;
	padding: 2vw 0 2vw 0;
}
main section div.samantha div.texto h2{
	color: #2C3A4B;
	margin: 0.5vw 1vw 0 1vw;
	font-size: 1.1rem;
}
main section div.samantha p{
	color:grey;
	border: none;
	padding: 0 1vw 0 1vw;
}
/*============================
			LISTA
==============================*/
main section.lista{
	display:flex;
	margin: 6vw;
	border-bottom: 1px solid #9E9B9B;
	padding: 0 0 8vw 0;
}
main section.lista div.texto p{
	padding: 0 8vw 0 10vw;
	font-size: 1.5rem;
	color: #404852;
}
main section.lista div h1{
	margin: 2vw 8vw 0 8vw;
	font-size: 6rem;
	padding: 2vw 2vw 2vw 2vw;
}
main section.lista div.lista ul li h2{
	font-size: 3rem;
	padding: 4vw 0 4vw 0;
}
main section.lista div.lista ul li h2 span{
	color: gray;
	font-size: 2rem;
	padding: 2vw 2vw 2vw 2vw;
}
main section.lista div.lista ul li p{
	padding: 0 0 2vw 4vw;
	font-size: 1.5rem;
	color: gray;
	border-bottom: 1px solid #D8D8D8;
}
main section.lista div.lista ul li.ultimo p{
	border: none;
}
